html{
    position: relative;
    min-height: 100%;
}

/* navbar styling*/

.navbar {
    background-color: rgb(8, 8, 8) !important;
    border-bottom: solid !important;
    border-bottom-color: white !important;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-color: white !important;
}


.two {
    font-size: 50px !important;
}

.white {
    font-size: 30px !important;
    font-weight: bold !important;
}

.collapse {
    color: white !important;
}

.nav-link {
    color: white !important;
    margin-left: 30px !important;
}

/*Styling within the body*/

body {
    background-color: blue;
}

.image-center {
    display: block;
    margin-left:auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: white;
}

.two2{
    font-size: 80px !important;
}

.white2 {
    font-size: 60px !important;
    font-weight: bold !important;
}

.brand {
    padding-bottom: 20px;
}

.card {
    background-color: rgb(8, 8, 8) !important;
    color: white !important;
    margin-bottom: 80px !important;
}

label, .input-group-text {
    background-color: rgb(78, 40, 12) !important;
    color: white !important;
}

#button-addon2 {
    background-color: rgb(22, 123, 255) !important;
    color: white !important;
}

footer {
    height: 40px;
    background-color: rgb(8, 8, 8);
    border-top: solid;
    border-top-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* mobile first application */
@media screen and (min-width: 276px) {
    .image-center {
        width: 30%;
    }
    .btn2 {
        margin: 10px !important;
    }
    .card {
        width: auto !important;
    }
}

@media screen and (min-width: 768px) {
    .image-center {
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    .image-center {
        width: 15%;
    } 
}